.items {
    margin-top: 0px;
}

.items-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(241, 184, 60);
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.m-button {
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

/* make responsive */

@media only screen and (max-width:576px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:576px) and (max-width: 992px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}